body{
    background-color:#dbd2ee;
}

hr{
    color:grey;
    border-top-style:dashed;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-width:5px;
    width: 80px;
}

h1{
    color: #f5078a;
}

h3{
    color: #f5078a;
}

.header{
    background-color: aliceblue;
    color: black;
}
